@use "../abstracts/variables" as *;

.form {
  &__item {
    margin: 1.5rem;

    &-input {
      width: 24rem;
      padding: 1.4rem;
      border: $red 1px solid;
      border-radius: 4px;
      background-color: inherit;
      color: $red;

      &:focus {
        outline: none;
      }
    }

    &-btn {
      width: 12rem;
      padding: 1rem 2rem;
      color: white;
      background-color: $red;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
  }
}
