<div class="form-container">
  <form class="form form-login" method="post">
    <div class="form__item">
      <input
        class="form__item-input"
        id="username"
        type="text"
        name="username"
        placeholder="username"
        autocomplete="off"
        required
      />
    </div>
    <div class="form__item">
      <input
        class="form__item-input"
        id="password"
        type="password"
        name="password"
        placeholder="password"
        required
      />
    </div>
    <div class="form__item">
      <button class="form__item-btn" type="submit">LOGIN</button>
    </div>
    <div class="form__item">
      <a class="form__item-link text-green" href="/signup">
        Create Your Account</a
      >
    </div>
    <div class="form__item">
      <a class="form__item-link text-yellow" href="/forgotpassword"
        >Forgot Password?</a
      >
    </div>
  </form>
</div>
