<div class="form-container">
  <form class="form" method="post">
    <div class="form__item">
      <input class="form__item-input" id="firstname" type="text" name="firstname" , placeholder="firstname" ,
        autocomplete="off" , required />
    </div>
    <div class="form__item">
      <input class="form__item-input" id="lastname" type="text" name="lastname" , placeholder="lastname" ,
        autocomplete="off" , required />
    </div>
    <div class="form__item">
      <input class="form__item-input" id="username" type="text" name="username" , placeholder="username" ,
        autocomplete="off" , required />
    </div>
    <div class="form__item">
      <input class="form__item-input" id="password" type="text" name="password" , placeholder="password" ,
        autocomplete="off" , required />
    </div>
    <div class="form__item">
      <input class="form__item-input" id="confirmpassword" type="password" name="confirmpassword" ,
        placeholder="confirm password" , required />
    </div>
    <div class="form__item">
      <button class="form__item-btn btn-green w11" type="submit">SIGNUP</button>
      <button class="form__item-btn btn-red w11 ml1" type="submit">
        RESET
      </button>
    </div>
  </form>
</div>
